h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  height: auto;
  object-fit: contain;
  width: 428px;
}
.breed-select {
  max-width: 428px;
}
.cat-info {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}
.cat-info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
}

.hidden {
  display: none;
}
